
<% @polls.each do |poll| %>
  <% content_tag :div, :class => :poll do %>
    <%= content_tag :h2, poll.title %>
    <%= content_tag :p, poll.desc %>

    <% form_for poll.votes.build do |f| %>
      <% poll.answers.each do |answer| %>
        <p>
          <%= radio_button 'vote', 'answer_id', answer.id %>
          <%= label_tag "vote_answer_#{answer.id}", answer.answer %>
        </p>
      <% end %>
      <%= f.submit 'Vote!' %>
    <% end %>
  <% end %>

<% end %>

