<h1>
  <%=h @poll.title %>
</h1>

<p>
  <%=h @poll.desc %>
</p>

<div class="results">
<h2>Results:</h2>

<% @poll.answers.each do |answer| %>
  <p>
    <%= answer.answer %> <b>(<%= answer.votes.count %>)</b>
  </p>
<% end %>

</div>

<%= link_to 'Home', root_path %>
