<h1>Editing vote</h1>

<% form_for(@vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :poll_id %><br />
    <%= f.text_field :poll_id %>
  </p>
  <p>
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @vote %> |
<%= link_to 'Back', votes_path %>